<% provide(:title, "Sign up") %>
<% provide(:facebook_btn_text, "Sign up with") %>

<div class="jumbotron">
  <div class="container form-container col-md-6">
    <h1>Sign up</h1>
    <%= render "form" %>
    <%= render "devise/shared/links" %>
  </div>
</div>
