<%= form_with model: current_user.friendships.build, id: "add-friend-form" do |f| %>
  <div><%= hidden_field_tag :user_id, @user.id %></div>
  <%= f.submit "Send friend request", class: "btn btn-outline-primary" %>
<% end %> 