<div id="friend_request_form-<%= @user.id %>">
  <% if @user.friendships.first.accepted? %>
    <div class="btn btn-success">Accepted</div>
  <% else %>
    <%= render "users/accept_friend_request" %>
  <% end %>
</div>