<div id="friend_request_form-<%= @friendship.id %>">
  <% if @friendship.accepted? %>
    <div class="btn btn-success">Accepted</div>
  <% else %>
    <%= render "accept_friend_request" %>
  <% end %>
</div>