<h1>Friend requests</h1>
<% @pending_friends.each do |friend| %>
    <div class="row friend-card">
      <div class="col-3 col-sm-2"> 
        <div><%= link_to avatar_for(friend, 50), user_path(friend) %></div>
      </div>
      <div class="col-7">
        <div><%= link_to "#{friend.fullname}", user_path(friend) %></div>
        <div><%= friend.email %></div>
      </div>
      <div class="col-2">
        <%= render partial: "friend_request_form", locals: { :@user => friend } %>
      </div>
    </div>
  <% end %>