<div class="row friend-card">
    <div class="col-3 col-sm-2"> 
        <div><%= link_to gravatar_for(user, 50), user_path(user) %></div>
    </div>
    <div class="col-7">
        <div><%= link_to "#{user.fullname}", user_path(user) %></div>
        <div><%= user.email %></div>
    </div>
    <div class="col-2">
        <div><%= render partial: "friend_form", locals: { :@user => user } unless current_user == user %></div>
    </div>
</div>