<div class="row friend-card">
  <div class="col">
    <div>
      <%= link_to avatar_for(user, 50), user_path(user) %>
    </div>
    <div class="friend-card-body">
      <div class="user-info">
        <%= link_to "#{user.fullname}", user_path(user) %>
        <%= user.about %>
      </div>
      <div>
        <%= render partial: "friend_form", locals: { :@user => user } unless current_user == user %>
      </div>
    </div>
  </div>
</div>