<div class="container-fluid">
  <table class="table">
    <thread>
      <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Birthday</td>
        <td>Joined</td>
      </tr>
    </thread>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</div>