<% provide(:title, "Home") %>
<div class="container">
  <h1>Latest Posts</h1>
  <%= render "form" %>
  <% @feed.each do |post| %>
    <div class="post-card">
     <%= render post %>
    </div>
  <% end %>
</div>