<% provide(:title, "Home") %>
<div class="container mt-25">
  <h1>Latest Posts</h1>
  <%= render "form" %>
  <div class="container posts-index">
    <% @posts.each do |post| %>
      <div class="post-card">
        <%= render post %>
      </div>
    <% end %>
    <%= will_paginate @posts %>
  </div>
</div>