<div class="container">
  <div class="post-card">
    <%= render @post %>

    <%= render "comments/form" %>

    <div class="comments-container">
      <% unless @comments.empty? %>
        <%= render @comments %>
      <% else %>
        <p>Nobody has commented yet :(</p>
      <% end %>
    </div>
  </div>

</div>