<div class="container">
  <%= render @post %>

  <div class="row">
    <%= render "comments/form" %>
  </div>

  <div class="m-neg-15">
    <% unless @comments.empty? %>
      <%= render @comments %>
    <% else %>
      <p>Nobody has commented yet :(</p>
    <% end %>
  </div>

</div>