html {
  font-size: 75%;
}
@include media-breakpoint-up(sm) {
  html{
    font-size: 85%;
  }
}
@include media-breakpoint-up(md) { 
  html{
    font-size: 90%;
  }
 }
@include media-breakpoint-up(lg) { 
  html{
    font-size: 100%;
  }
 }
@include media-breakpoint-up(xl) { 
  html{
    font-size: 100%;
  }
 }

// GENERAL
html { 
  min-width: 320px;
}
body {
  background: #fafafa;
  margin-bottom: 100px;
}

.no-link-underline {
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}

.m-neg-15 {
  margin-left: -15px;
  margin-right: -15px;
}
.mt-25 {
  margin-top: 2.5rem;
}

// NAVBAR
#signout-icon {
  fill: #fff;
  opacity: 0.5;
}
.nav-link {
  &:hover {
    #signout-icon {
      opacity: 0.75;
    }
  }
}
.nav-divider {
  display: none;
}
@include media-breakpoint-up(lg) {
  .nav-divider {
    display: block;
    width: 1px;
    background: rgba(255,255,255,0.15);
    margin: 0 8px;
  }
}
.dropdown-divider {
  border-top: 1px solid rgba(255,255,255,0.15);
}

// FORMS
.form-container {
  max-width: 388px;
}

.form-card {
  background: white;
  padding: 25px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-bottom: 15px;
  border-radius: 0.25rem;
  p {
    font-size: 0.95rem;
  }
}

.alert-danger>ul {
  font-size: 0.91rem;
  margin-bottom: 0;
}

.btn-unfriend {
  min-width: 100px;
  span {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1rem;
    margin-left: 5px;
    &:after {
      content: "Friends";
    }
  }
  &:hover {
    background: #dc3545;
    border-color: #dc3545;
    span {
      &:after  {
        content: "Unfriend";
      }
    }
  }
}

.btn-facebook {
  background: #3b5998;
  color: white;
  margin-bottom: 16px;
  &:hover {
    color: white;
    background: #314a86;
  }
  &:before {
    font-family: FontAwesome;
    content: "\f082";
    margin-right: 10px;
  }
}

.form-label {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
  display: block;
}

.field_with_errors {
  display: inline;
}

// ERROR MESSAGES
.alert-danger {
  li {
    margin-left: 12px;
  }
}

.flash-container {
  position: absolute;
  right: 0;
  left: 0;
  .alert {
    margin: 0;
    padding: 0.25rem 1.25rem;
  }
}

.flash {
  float: left;
  width: 100%;
}

// devise alert
.alert-alert {
  color: #856404;
  background: #fff3cd;
  border-color: #ffeeba;
}

.alert-notice {
  color: #004085;
  background: #cce5ff;
  border-color: #b8daff;
}

// user profile

.avatar {
 border-radius: 100px;
 border: 2px solid white;
 background: white;
}

#banner {
  height: 50vw;
  max-height: 380px;
  min-height: 176px;
  position: relative;
}
.banner-picture {
  background: #eaeaea;
  background-size: cover;
  background-position: center;
}
.banner-default {
  background-color: #d0cee0;
  background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23343a40' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#profile-header {
  display: flex;
  margin-top: -25px;
}
#profile-avatar {
  .avatar {
    margin-right: 8px;
    height: 90px;
    width: 90px;
  }
  @include media-breakpoint-up(lg) {
    .avatar {
      height: 120px;
      width: 120px; 
    }
  }
}
#profile-content-wrapper {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  @include media-breakpoint-up(sm) {
    flex-wrap: nowrap;
  }
}
#profile-info {
  margin-top: 35px;
  flex-basis: 100%;
  ul {
    a {
      color: #999;
    }
    color: #999;
  }
}
#profile-controls {
  @include media-breakpoint-up(sm) {
    margin-top: 35px;
    white-space: nowrap;
    #edit-profile {
      float:right;
    }
  }  
}
.user-bio {
  color: #000;
}

.profile-icon {
  img {
    border-radius: 100px;
    }
  }

  .users-posts {
    margin-top: 35px;
    h2 {
      font-weight: 300;
      color: rgba(0, 0, 0, 0.5);
    }
  }

// user friends
.friend-card {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  border-bottom: 1px solid #eaeaea;
}

// posts
.no-posts {
  color: rgba(0, 0, 0, 0.5);
}

.full-width-form {
  margin-top: 25px;
  .form-group {
    margin: 0;
  }
  .btn {
    margin-top: 10px;
  }
  textarea {
    height: 100px;
    width: 100%;
    border: 1px solid #eaeaea;
  }
}
.post-card {
  padding: 8px 0;
  margin-top: 10px;
  margin-left: -15px;
  margin-right: -15px;
  border: 1px solid #eaeaea;
  background: white;
  .col {
    padding: 0 8px;
  }
  a {
    color: #999;
  }
  .avatar {
    margin-right: 8px;
  }
  .comment-form- {
    padding: 8px;
  }
}

.post-body {
  display: flex;
  @media (max-width: 575.5px) {
    .author-avatar {
      display: none;
    }
  }
  .image-thumbnail {
    margin: 0 8px;
  }
}

.post-content {
  flex-basis: 100%;
  position: relative;
  padding-bottom: 30px;
}

.image-large {
    max-width: 100%;
    max-height: 700px;
    padding-bottom: 30px;
}
.image-thumbnail {
  height: 100px;
  width: 100px;
}

.post-link {
  font-size: 0.8rem;
  color: #999;
  border: none;
  background: transparent;
  &:hover {
    text-decoration: underline;
    color: #999;
  }
  &:focus {
    box-shadow: none;
  }
}

.post-info {
  color: #999;
  font-size: 0.8rem;
}

.post-controls {
  display: flex;
  position: absolute;
  bottom: 0;
}

.truncate {
  overflow: hidden;
  margin: 0;
}


.lines-3 {
  height: 3.2rem;
}

.pagination {
  margin: 25px 0 25px 0;
  a, .current {
  margin-right: 5px;
  }
  .previous_page {
    margin-right: 10px;
  }
  .next_page {
    margin-left: 10px;
  }
}

#feed {
  margin: 0;
  @include media-breakpoint-up(lg) {
    margin-left: auto;
  }
  h1 {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
  }
}

// posts sidebar
#sidebar {
  position: relative;
  #profile-content-wrapper {
    flex-wrap: nowrap;
  }
  #profile-info {
    margin-top: 8px;
  }
  .full-width-form {
    margin-top: 0;
  }
  .btn {
    width: 100%;
  }
  @include media-breakpoint-up(lg) {
    position: fixed;
    width: 400px;
  }
  @include media-breakpoint-up(xl) {
    width: 380px;
  }
  @include media-breakpoint-up(sm) {
    .btn {
      float: right;
      width: 120px;
    }
  }
  @include media-breakpoint-up(lg) {
    .btn {
      width: 100%;
    }
  }
}

#sidebar-banner {
  width: 100%;
  height: 130px;
  #banner {
    height: 100%;
    min-height: 0;
    max-height: 100%;
  }
}

#sidebar-avatar {
  .avatar {
    margin-right: 8px;
    height: 80px;
    width: 80px;
  }
  @include media-breakpoint-up(lg) {
    .avatar {
      height: 80px;
      width: 80px; 
    }
  }
}

// comments
.indent-comment {
  padding-left: 15px;
  border-left: 1px solid #eaeaea;
}

.comments-container {
  padding: 8px;
  margin-top: 50px;
}
.comments {
  border-left: 1px solid #eaeaea;
  padding-left: 10px;
}

.comment-actions {
  color: #999;
  font-size: 0.8rem;
  a {
    padding: 0;
  }
}

