body {
  background: #fafafa;
}

// FORMS
.form-label {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
  display: block;
}

.field_with_errors {
  display: inline;
}

// ERROR MESSAGES
.alert-danger {
  li {
    margin-left: 12px;
  }
}

.flash {
  float: left;
  width: 100%;
  margin-top: 10px;
}

// devise alert
.alert-alert {
  color: #856404;
  background: #fff3cd;
  border-color: #ffeeba;
}

.alert-notice {
  color: #004085;
  background: #cce5ff;
  border-color: #b8daff;
}

// user profile
.avatar {
 border-radius: 100px;
 border: 2px solid white;
}

#banner {
  height: 50vw;
  max-height: 380px;
  min-height: 176px;
}
.banner-picture {
  background: #eaeaea;
  background-size: cover;
  background-position: center;
}
.banner-default {
  background-color: #d0cee0;
  background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23343a40' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
#profile-header {
  margin-top: -25px;
}
#profile-info {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  ul {
    a {
      color: #999;
    }
    color: #999;
  }
}
.user-bio {
  color: #000;
}

.profile-icon {
  img {
    border-radius: 100px;
    }
  }

// user friends
.friend-card {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  border-bottom: 1px solid #eaeaea;
}

// posts
.full-width-form {
  margin-top: 25px;
  .form-group {
    margin: 0;
  }
  .btn {
    margin-top: 10px;
  }
  textarea {
    height: 100px;
    width: 100%;
    border: 1px solid #eaeaea;
  }
}
.post-card {
  padding: 10px;
  margin-top: 10px;
  margin-left: -15px;
  margin-right: -15px;
  border: 1px solid #eaeaea;
  background: white;
  a {
    color: #999;
  }
}

.post-link {
  font-size: 0.8rem;
  color: #999;
  &:hover {
    text-decoration: underline;
    color: #999;
  }
  &:focus {
    box-shadow: none;
  }
}

.post-info {
  color: #999;
  font-size: 0.8rem;
}

// misc
.no-link-underline {
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}

.m-neg-15 {
  margin-left: -15px;
  margin-right: -15px;
}

// comments
.indent-comment {
  padding-left: 15px;
  border-left: 1px solid #eaeaea;
}

.comments {
  border-left: 1px solid #eaeaea;
  padding-left: 10px;
}

.comment-actions {
  color: #999;
  font-size: 0.8rem;
  a {
    padding: 0;
  }
}

