<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "weConnect", root_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-outline-light" %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-light mr-2" %>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-light" %>
    <% end %>
  </div>
</nav>